@font-face {
  font-family: "neodgm";
  src: url(/public/assets/fonts/neodgm.ttf);
}

@font-face {
  font-family: "Galmuri11Condensed";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Condensed.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url(/public/assets/fonts/Paperlogy-1Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url(/public/assets/fonts/Paperlogy-2ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url(/public/assets/fonts/Paperlogy-3Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url(/public/assets/fonts/Paperlogy-4Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url(/public/assets/fonts/Paperlogy-5Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url(/public/assets/fonts/Paperlogy-6SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url(/public/assets/fonts/Paperlogy-7Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url(/public/assets/fonts/Paperlogy-8ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cafe24MoyaMoya";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

:root {
  --bg: #245da8;
}

:root[data-theme="home"] {
  --bg: #245da8;
}

:root[data-theme="profile"] {
  --bg: #4357d7;
}

:root[data-theme="web"] {
  --bg: #442fba;
}

:root[data-theme="app"] {
  --bg: #431888;
}

:root[data-theme="graphic"] {
  --bg: #4399d7;
}

:root[data-theme="package"] {
  --bg: #710507;
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 365px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  margin: 0;
  background: white;
  font-family: "neodgm", sans-serif;
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 31rem;
  height: 100vh;
  background: var(--bg);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 6rem;
  width: 100%;
}

.nav a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 3.2rem;
  transition: border-color 0.2s ease, transform 0.15s ease, font-size 0.15s ease;
}

/* 뱃지(span) */
.nav a .nav-badge {
  position: absolute;
  left: -1.3rem;
  top: -0.5rem;
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: white;
  opacity: 0.7;
}

.nav a.active {
  position: relative;
  font-size: 4.2rem;
}

.nav a.active::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0%;
  width: 100%;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: rgba(256, 256, 256, 0.7);
}

.nav-under-box {
  position: relative;
  margin-right: 3rem;
  margin-bottom: 4rem;
  text-align: right;
  font-family: "Galmuri11Condensed", sans-serif;
  font-size: 2.8rem;

  > img {
    position: absolute;
    bottom: 3.3rem;
    right: -3rem;
    width: 25rem;
  }
}

.mobile-only-text {
  display: none;
}

#main {
  width: calc(100% - 31rem);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* 항상 스냅 */
}

#main::-webkit-scrollbar {
  width: 12px;
}

#main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

#main::-webkit-scrollbar-track {
  background-color: rgba(256, 256, 256, 0.2);
}

[data-section] {
  scroll-snap-align: start; /* 스냅 위치 지정 */
  min-height: 100vh; /* or height:100vh; */
}

/* 섹션 내부 래퍼: 패딩을 제외한 높이만큼은 꽉 채우고, 넘치면 자동 확장 */
[data-section] > .container {
  position: relative;
  width: min(340px, 100%);
  min-height: 100vh;
  background: transparent;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 8px;
  }

  .nav a.active::after {
    width: 65%;
  }
}

@media screen and (max-width: 1200px) {
  #main {
    width: 100%;
    height: calc(100vh);
  }

  .nav {
    width: 100% !important;
    min-width: 365px;
    height: 15rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav ul {
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    height: 50%;
  }

  .nav a {
    font-size: 2.8rem;
  }

  .nav a.active {
    font-size: 3.4rem;
  }

  .nav a.active::after {
    width: 110%;
    height: 0.4rem;
  }

  .nav-under-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    position: unset;
    width: 100%;
    height: 80%;
    font-size: 2.4rem;
    margin-bottom: 0;

    > img {
      position: unset;
      width: auto;
      height: 12rem;
    }
  }
}
@media screen and (max-width: 900px) {
  .nav ul {
    gap: 3rem;
  }

  .nav a {
    font-size: 2.4rem;
  }

  .nav a.active {
    position: relative;
    font-size: 2.8rem;
  }

  .nav-under-box {
    font-size: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .nav ul {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 3rem;
    list-style: none; /* 점 제거 */
    padding: 0;
    margin-left: 6rem;
  }

  .nav a.active::after {
    height: 0.3rem;
  }
}

@media screen and (max-width: 530px) {
  .nav-under-box {
    font-size: 2rem;
  }
}

@media screen and (max-width: 490px) {
  .nav {
    position: relative;
  }

  .nav ul {
    position: absolute;
    top: 3rem;
    left: 0rem;
    margin-left: 4rem;
    row-gap: 1rem;
  }

  .nav-under-box {
    > span {
      display: none;
    }
  }

  .mobile-only-text {
    display: block;
    font-size: 1.8rem;
    text-align: center;
  }
}
