@font-face {
  font-family: "neodgm";
  src: url(/public/assets/fonts/neodgm.ttf);
}

@font-face {
  font-family: "Galmuri11Condensed";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Condensed.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

:root {
  --bg: #435cd7;
}

:root[data-theme="home"] {
  --bg: #435cd7;
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}


@media screen and (max-width: 1600px) {
  html {
    font-size: 8px;
  }
}

body {
  margin: 0;
  background: white;
  font-family: "neodgm", sans-serif;
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 31rem;
  height: 100vh;
  background: var(--bg);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 6rem;
  width: 100%;
}

.nav a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 3.2rem;
  transition: border-color 0.2s ease, transform 0.15s ease, font-size 0.15s ease;
}

/* 뱃지(span) */
.nav a .nav-badge {
  position: absolute;
  left: -1.3rem;
  top: -0.5rem;
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: white;
  opacity: 0.7;
}

.nav a.active {
  position: relative;
  font-size: 4.2rem;
}


.nav-under-box {
  position: relative;
  margin-right: 3rem;
  margin-bottom: 4rem;
  text-align: right;
  font-family: "Galmuri11Condensed", sans-serif;
  font-size: 2.8rem;

  > img {
    position: absolute;
    bottom: 3.3rem;
    right: -3rem;
    width: 25rem;
  }
}

#main {
  margin-right: 31rem;
}

[data-section] {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
