.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  min-height: 100vh;
  align-items: center;
  padding: 3rem 0px;
  background: #fff;
  background: url(/public/assets/images/web-bg.png) repeat center center
    fixed;
  background-size: cover;
}

.contents-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
  margin-bottom: 6rem;

  border-radius: 10rem;
  border: 2px solid #79748c;
  background: rgba(255, 255, 255, 0.83);

  color: #241d43;
  text-align: center;
  font-family: DungGeunMo;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 130%; /* 36.4px */
  letter-spacing: -0.14rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.web-button {
  display: inline-flex;
  padding: 0.5rem 2rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5rem;
  border: 2px solid #d89dff;
  background: rgba(255, 255, 255, 0.91);
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.25) inset,
    2px 4px 10px 0 rgba(0, 0, 0, 0.25);

  color: #2d2d2d;
  font-family: DungGeunMo;
  font-size: 2.8rem;
  font-weight: 400;
}

.web-button:hover {
  background: #d89dff;
  color: white;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}


@media screen and (max-width: 900px) {
  .main-image {
    width: 100%;
  }

  
.contents-container {
  padding: 10rem 15rem;
}
}

@media screen and (max-width: 700px) {

  .contents-container {
    height: 100%;
    min-height: 100%;
  padding: 10rem;
  }

  .title-container {
    padding: 2rem 4rem;
    margin-bottom: 6rem;
font-size: 2.2em;
  }

  
.web-button {
  display: inline-flex;
  padding: 0.5rem 2rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50px;
  border: 2px solid #d89dff;
  background: rgba(255, 255, 255, 0.91);
  box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.25) inset,
    2px 4px 10px 0 rgba(0, 0, 0, 0.25);

  color: #2d2d2d;
  font-family: DungGeunMo;
  font-size: 2.2rem;
  font-weight: 400;

  > img {
    width: 3rem;
  }
}

}
@media screen and (max-width: 490px) {

  
  .contents-container {
  padding: 4rem;
  }


  .title-container {
    padding: 2rem;
font-size: 2rem;
  }

  .web-button {
    font-size: 2rem;
  }
}