<link rel="stylesheet" href="/styles.css" />
<script defer src="/script.js"></script>


<div class="container">
    <video autoplay muted loop id="bg-video">
        <source src="/public/assets/images/bg-sky.mp4" type="video/mp4" />
        <img src="/public/assets/images/bg-sky.png" />
    </video>
    <div class="contents-container">
        <a href="/public/assets/pdf/조유이_이력서.pdf" target="_blank">
            <button class="profile-download-btn">
                <img src="/public/assets/images/star-btn.png" alt="star-btn" />
            </button>
        </a>
        <p class="download-text">◀ 이력서 다운로드<br>Resume Download!</p>
        <div class="right-top-container">
            <img src="/public/assets/images/blue-hearts.png" alt="blue-hearts" class="blue-hearts">
            <div><span>개발을 이해하는 디자이너,<br>
                    JOY(UI) 조유이 입니다!</span></div>
        </div>
        <img src="/public/assets/images/profile-img.png" alt="image-box" class="image-box">
        <div class="left-under-container">
            <div class="contact-box">
                <img src="/public/assets/images/phone-btn.png" alt="phone icon">
                <span>010-2250-0062</span>
            </div>
            <a href="mailto:yuimuicolor@gmail.com">
                <div class="contact-box">
                    <img src="/public/assets/images/mail-btn.png" alt="email icon">
                    <span>yuimuicolor@gmail.com</span>
                </div>
            </a>
        </div>
        <div class="right-under-container">
            <div class="keyword-box">Keywords</div>
            <div class="keyword-text-box">
                <div>
                    <img src="/public/assets/images/play-icon.png">
                    <span>1년간 개발자로 근무<br>경력 보유</span>
                </div>
                <div>
                    <img src="/public/assets/images/play-icon.png">
                    <span>분야를 한정 짓지<br>않는 도전 정신</span>
                </div>
                <div>
                    <img src="/public/assets/images/play-icon.png">
                    <span>무엇보다 아름답고<br>예쁘고 귀여운 것들이<br>정말정말 좋습니다! </span>
                </div>
            </div>
        </div>
    </div>
</div>