.container {
  position: relative;
  width: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0px;
  background: #fff;
}

.contents-container {
  position: relative;
  width: 1068px;
  min-width: 1068px;
  min-height: 950px;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  opacity: 0.3;
  object-fit: cover;
}

.profile-download-btn {
  position: absolute;
  top: -50px;
  left: 0px;
  z-index: 1000;
  > img {
    width: 380px;
  }
}

.profile-download-btn:hover {
  cursor: pointer;
  /* transform: scale(1.05);
   */
  transform: rotate(-5deg) scale(1.05);
  transition: transform 0.5s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.download-text {
  position: absolute;
  top: 90px;
  left: 290px;
  font-size: 24px;
  z-index: 1000;
}

.mobile-download-text {
  display: none;
  font-size: 2.4rem;
}

.right-top-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  text-align: right;

  > div {
    width: 515px;
    height: 113px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f3bfff;
    border: 2px solid #79748c;
    border-radius: 100px;

    font-size: 28px;
    line-height: 130%;
    color: #241d43;
    text-align: center;
  }
}

.image-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 940px;

  z-index: 0;
}

.left-under-container {
  position: absolute;
  bottom: 100px;
  left: 80px;
  display: flex;
  gap: 30px;
  font-size: 24px;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  > img {
    width: 4rem;
  }
}

.right-under-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 316px;
  padding: 12px 12px 0px 12px;
  border-radius: 10px;
  border: 2px solid #059616;
  background: linear-gradient(180deg, #85ff78 0%, #e4ffee 100%);
  z-index: 1000;
}

.keyword-box {
  padding: 0px 1.2rem;
  text-align: center;
  opacity: 0.84;
  background: #fff;
  color: #059616;
  font-size: 40px;
  letter-spacing: -2px;
}

.keyword-text-box {
  padding: 30px 5px;
  color: #3b374b;
  font-size: 24px;
  line-height: 120%; /* 28.8px */
  letter-spacing: -1.2px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  > div {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 16px;

    > img {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

@media (max-width: 1600px) {
  .contents-container {
  zoom: 0.75;
}
}

@media screen and (max-width: 800px) {
  .contents-container {
    zoom: 0.6;
  }
}
@media screen and (max-width: 700px) {
  .container {
    padding: 0;
  }
  .contents-container {
    transform: unset;
    zoom: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 5rem 10rem;
    text-align: center;

    > .right-top-container {
      order: 0;
    }
    > .image-box {
      order: 1;
    }
    > .left-under-container {
      order: 2;
    }

    > .right-under-container {
      order: 4;
    }

    > a {
      order: 5;
    }

    > .mobile-download-text {
      order: 6;
    }
  }


  .profile-download-btn,
  .download-text,
  .right-top-container,
  .image-box,
  .left-under-container,
  .right-under-container {
    position: unset;
  }


  .right-top-container {
    >img {
      width: 10rem;
    }
    > div {
      width: fit-content;
      height: fit-content;
      padding: 1rem 4rem;
      font-size: 2.4rem;
    }
  }
  
  .image-box {
    transform: none;
    width: 100%;
    padding: 3rem 0;
  }

  
  .left-under-container {
    font-size: 2rem
  }

  .right-under-container {
    width: 38rem;
    margin: 5rem 0;
  }

  .keyword-box {
    font-size: 3.2rem;
  }

  .keyword-text-box {
    font-size: 2.8rem;
    text-align: left;
  }

  
  .profile-download-btn {
    height: 18rem;
    overflow: hidden; 
    > img {
      width: 20rem;
      transform: rotate(30deg);
    }
  }

  .download-text {
    display: none;
  }

  .mobile-download-text {
    display: block;
    top: -20px;
  }
}

@media screen and (max-width: 600px) {
  
.left-under-container {
  flex-direction: column;
  gap: 0.2rem;
}
}


@media screen and (max-width: 480px) {
  .contents-container {
    padding: 5rem;
  }

  .right-top-container {
    > div {
      font-size: 2rem;
    }
  }

  .right-under-container {
    width: 32rem;
  }

  .keyword-text-box {
    font-size: 2.4rem;
  }
}
