<link rel="stylesheet" href="/styles.css" />
<script defer src="/script.js"></script>
<div class="container">
    <div class="contents-container">
        <div class="title-box">
            <p>패키지 디자인</p>
            <p>˙ 보드게임 세트</p>
        </div>
        <div class="button-container">
            <a href="../../public/assets/pdf/stupid-cupid.pdf" target="_blank" rel="noopener noreferrer">
                <button class="package-button">
                    <img src="../../public/assets/images/package-download-icon.png" alt="링크 아이콘">
                    <span>Portfolio Pdf</span>
                </button>
            </a>
        </div>
    <div class="image-container">
        <img src="../../public/assets/images/package-main-image-2.png" alt="">
    </div>
    </div>
</div>