@font-face {
    font-family: 'SchoolSafetyStarrySky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-L.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'SchoolSafetyStarrySky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

.title { font-size: clamp(32px, 6vw, 72px); margin: 0 0 .5rem; }
.lead { opacity: .8; }
